.controls {
  max-width: 768px;
  margin: 0 auto;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls h1 {
  text-align: center;
  margin: 0;
  padding: 0.5rem 0;
}

.controls button {
  width: 50%;
  margin: 1rem;
}

.titleLabel {
  font-size: 1.3rem;
}

.titleInput {
  border: none;
  border-radius: 6px;
  font-size: 1.5rem;
  padding-left: 1rem;
  width: 80%;
}

.createBtn {
  width: 50%;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.priorityInput {
  border-radius: 8px;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}

.timeInput {
  border-radius: 8px;
  padding: 0.5rem 0;
  width: 5rem;
}

.inputDiv {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .inputDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .titleInput {
    border: none;
    border-radius: 6px;
    font-size: 1.5rem;
    padding-left: 1rem;
    width: 14rem;
  }
  .controls input,
  .controls select {
    margin: 0 1rem;
  }
}
